[build]
  command = "npm install"
  functions="api"
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/:splat"
  status = 200
[functions]
  node_bundler = "esbuild"
  external_node_modules = ["express"]